## ДЗ 1 (ОБЯЗАТЕЛЬНОЕ): Анализ температурных данных и мониторинг текущей температуры через OpenWeatherMap API

**Описание задания:**  
Вы аналитик в компании, занимающейся изучением климатических изменений и мониторингом температур в разных городах. Вам нужно провести анализ исторических данных о температуре для выявления сезонных закономерностей и аномалий. Также необходимо подключить API OpenWeatherMap для получения текущей температуры в выбранных городах и сравнить её с историческими данными.


### Цели задания:
1. Провести **анализ временных рядов**, включая:
   - Вычисление скользящего среднего и стандартного отклонения для сглаживания температурных колебаний.
   - Определение аномалий на основе отклонений температуры от $ \text{скользящее среднее} \pm 2\sigma $.
   - Построение долгосрочных трендов изменения температуры.
   - Любые дополнительные исследования будут вам в плюс.

2. Осуществить **мониторинг текущей температуры**:
   - Получить текущую температуру через OpenWeatherMap API.
   - Сравнить её с историческим нормальным диапазоном для текущего сезона.

3. Разработать **интерактивное приложение**:
   - Дать пользователю возможность выбрать город.
   - Отобразить результаты анализа температур, включая временные ряды, сезонные профили и аномалии.
   - Провести анализ текущей температуры в контексте исторических данных.
   - Любые графики должны быть интерактивными.


### Описание данных
Исторические данные о температуре содержатся в файле `temperature_data.csv`, включают:
  - `city`: Название города.
  - `timestamp`: Дата (с шагом в 1 день).
  - `temperature`: Среднесуточная температура (в °C).
  - `season`: Сезон года (зима, весна, лето, осень).

Код для генерации файла вы найдете ниже.

### Этапы выполнения

1. **Анализ исторических данных**:
   - Вычислить **скользящее среднее** температуры с окном в 30 дней для сглаживания краткосрочных колебаний.
   - Рассчитать среднюю температуру и стандартное отклонение для каждого сезона в каждом городе.
   - Выявить аномалии, где температура выходит за пределы $ \text{среднее} \pm 2\sigma $.
   - Попробуйте распараллелить проведение этого анализа. Сравните скорость выполнения анализа с распараллеливанием и без него.

2. **Мониторинг текущей температуры**:
   - Подключить OpenWeatherMap API для получения текущей температуры города. Для получения API Key (бесплатно) надо зарегистрироваться на сайте. Обратите внимание, что API Key может активироваться только через 2-3 часа, это нормально. Посему получите ключ заранее.
   - Получить текущую температуру для выбранного города через OpenWeatherMap API.
   - Определить, является ли текущая температура нормальной, исходя из исторических данных для текущего сезона.
   - Данные на самом деле не совсем реальные (сюрпрайз). Поэтому на момент эксперимента погода в Берлине, Каире и Дубае была в рамках нормы, а в Пекине и Москве аномальная. Протестируйте свое решение для разных городов.
   - Попробуйте для получения текущей температуры использовать синхронные и асинхронные методы. Что здесь лучше использовать?

3. **Создание приложения на Streamlit**:
   - Добавить интерфейс для загрузки файла с историческими данными.
   - Добавить интерфейс для выбора города (из выпадающего списка).
   - Добавить форму для ввода API-ключа OpenWeatherMap. Когда он не введен, данные для текущей погоды не показываются. Если ключ некорректный, выведите на экран ошибку (должно приходить `{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}`).
   - Отобразить:
     - Описательную статистику по историческим данным для города, можно добавить визуализации.
     - Временной ряд температур с выделением аномалий (например, точками другого цвета).
     - Сезонные профили с указанием среднего и стандартного отклонения.
   - Вывести текущую температуру через API и указать, нормальна ли она для сезона.

### Критерии оценивания

- Корректное проведение анализа данных – 1 балл.
- Исследование распараллеливания анализа – 1 балл.
- Корректный поиск аномалий – 1 балл.
- Подключение к API и корректность выполнения запроса – 1 балл.
- Проведение эксперимента с синхронным и асинхронным способом запроса к API – 1 балл.
- Создание интерфейса приложения streamlit в соответствии с описанием – 3 балла.
- Корректное отображение графиков и статистик, а также сезонных профилей – 1 балл.
- Корректный вывод текущей температуры в выбранном городе и проведение проверки на ее аномальность – 1 балл.
- Любая дополнительная функциональность приветствуется и оценивается бонусными баллами (не более 2 в сумме) на усмотрение проверяющего.

### Формат сдачи домашнего задания

Решение нужно развернуть в Streamlit Cloud (бесплатно)

*   Создаем новый репозиторий на GitHub.  
*   Загружаем проект.
*   Создаем аккаунт в [Streamlit Cloud](https://streamlit.io/cloud).
*   Авторизуемся в Streamlit Cloud.
*   Создаем новое приложение в Streamlit Cloud и подключаем GitHub-репозиторий.
*   Deploy!

Сдать в форму необходимо:
1. Ссылку на развернутое в Streamlit Cloud приложение.
2. Ссылку на код. Все выводы про, например, использование параллельности/асинхронности опишите в комментариях.

Не забудьте удалить ключ API и иную чувствительную информацию.

### Полезные ссылки
*   [Оформление задачи Титаник на Streamlit](https://github.com/evgpat/streamlit_demo)
*   [Документация Streamlit](https://docs.streamlit.io/)
*   [Блог о Streamlit](https://blog.streamlit.io/)

In [100]:
import pandas as pd
import numpy as np

# Реальные средние температуры (примерные данные) для городов по сезонам
seasonal_temperaturesB = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# Сопоставление месяцев с сезонами
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# Генерация данных о температуре
def generate_realistic_temperature_data(cities, num_years=10):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # Добавляем случайное отклонение
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# Генерация данных
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

In [101]:
data

              city  timestamp  temperature  season
0         New York 2010-01-01     2.075883  winter
1         New York 2010-01-02    -4.088055  winter
2         New York 2010-01-03    -4.264631  winter
3         New York 2010-01-04     2.196669  winter
4         New York 2010-01-05    -0.485317  winter
...            ...        ...          ...     ...
54745  Mexico City 2019-12-25    20.744913  winter
54746  Mexico City 2019-12-26    17.190884  winter
54747  Mexico City 2019-12-27    12.823365  winter
54748  Mexico City 2019-12-28     9.806998  winter
54749  Mexico City 2019-12-29     9.654484  winter

[54750 rows x 4 columns]

### Цели задания:
1. Провести **анализ временных рядов**, включая:
   - Вычисление скользящего среднего и стандартного отклонения для сглаживания температурных колебаний.
   - Определение аномалий на основе отклонений температуры от $ \text{скользящее среднее} \pm 2\sigma $.
   - Построение долгосрочных трендов изменения температуры.
   - Любые дополнительные исследования будут вам в плюс.

In [102]:
ma_df = (
data
.set_index('timestamp')
.groupby('city')['temperature']
.rolling(30)
.mean()
.unstack('city')
)
#скользящие средние

In [104]:
ma_df['Beijing'].tail()

timestamp
2019-12-25    0.350982
2019-12-26   -0.048894
2019-12-27   -0.836383
2019-12-28   -1.193703
2019-12-29   -1.902098
Name: Beijing, dtype: float64

In [74]:
ma_df.columns

Index(['Beijing', 'Berlin', 'Cairo', 'Dubai', 'London', 'Los Angeles',
       'Mexico City', 'Moscow', 'Mumbai', 'New York', 'Paris',
       'Rio de Janeiro', 'Singapore', 'Sydney', 'Tokyo'],
      dtype='object', name='city')

In [64]:
metrics_df = data.groupby(['city', 'season'])['temperature'].agg(['mean', 'std'])
metrics_df

                            mean       std
city           season
Beijing        autumn  16.387901  4.766793
               spring  12.841377  4.874687
               summer  26.987881  5.205574
               winter  -1.764494  4.950988
Berlin         autumn  11.012390  4.875873
               spring   9.824244  5.141113
               summer  20.023862  5.222950
               winter   0.027896  5.011343
Cairo          autumn  24.905464  5.022630
               spring  25.217147  5.027490
               summer  34.842411  5.039865
               winter  15.209254  4.943791
Dubai          autumn  30.213690  4.789198
               spring  30.105833  5.057125
               summer  40.142560  4.869151
               winter  19.882632  4.896940
London         autumn  12.080884  4.922783
               spring  10.934620  5.039649
               summer  17.983935  5.100260
               winter   4.952230  4.917312
Los Angeles    autumn  19.863361  5.123777
               spring  17.945472  4.832799
               summer  24.985314  4.909330
               winter  15.014792  4.887631
Mexico City    autumn  14.949998  4.954651
               spring  17.786030  4.881497
               summer  19.709152  5.075554
               winter  12.168759  5.089248
Moscow         autumn   7.907343  5.038283
               spring   4.942535  5.038910
               summer  17.672712  5.013348
               winter -10.008462  5.034382
Mumbai         autumn  30.182445  5.024797
               spring  29.937806  5.124289
               summer  34.928042  4.794059
               winter  25.001262  5.224573
New York       autumn  15.159092  4.915260
               spring  10.047688  5.013477
               summer  25.076316  5.032836
               winter  -0.077533  4.992457
Paris          autumn  13.036158  4.653053
               spring  11.884644  5.010106
               summer  20.084455  4.908670
               winter   4.220992  4.893681
Rio de Janeiro autumn  25.216751  4.814476
               spring  24.945675  5.121829
               summer  30.097911  5.227243
               winter  20.328204  4.903085
Singapore      autumn  27.076732  4.984010
               spring  27.798488  4.971076
               summer  28.061670  5.068519
               winter  26.979323  5.138309
Sydney         autumn  19.902748  5.023543
               spring  18.352233  5.124485
               summer  25.193099  4.864408
               winter  12.136698  5.255913
Tokyo          autumn  18.014814  4.955348
               spring  14.715742  4.895855
               summer  27.253465  5.160670
               winter   6.205517  5.059311

In [106]:
g = data.groupby('city')['temperature']

data['ma_30'] = g.rolling(30, min_periods=30).mean().reset_index(level=0, drop=True)
data['std_30'] = g.rolling(30, min_periods=30).std().reset_index(level=0, drop=True)

data['is_anomaly'] = (
    (data['temperature'] > data['ma_30'] + 2 * data['std_30']) |
    (data['temperature'] < data['ma_30'] - 2 * data['std_30'])
)

In [111]:
data[data.is_anomaly]

,city,timestamp,temperature,season,ma_30,std_30,is_anomaly
32,New York,2010-02-02,-11.787753,winter,0.998766,4.933018,True
42,New York,2010-02-12,14.837948,winter,0.230025,6.436169,True
91,New York,2010-04-02,-0.569808,spring,9.374571,4.316755,True
151,New York,2010-06-01,18.637396,summer,9.750598,4.365602,True
153,New York,2010-06-03,28.938711,summer,10.562550,5.569371,True
...,...,...,...,...,...,...,...
54641,Mexico City,2019-09-12,3.878634,autumn,19.045588,5.859897,True
54661,Mexico City,2019-10-02,3.285021,autumn,14.183978,4.824443,True
54669,Mexico City,2019-10-10,25.550520,autumn,13.921970,4.786855,True
54680,Mexico City,2019-10-21,24.838389,autumn,14.804485,4.708337,True
54736,Mexico City,2019-12-16,25.691894,winter,13.559023,5.993767,True

In [110]:
data.groupby('city')['is_anomaly'].value_counts()

city            is_anomaly
Beijing         False         3426
                True           224
Berlin          False         3456
                True           194
Cairo           False         3442
                True           208
Dubai           False         3471
                True           179
London          False         3494
                True           156
Los Angeles     False         3486
                True           164
Mexico City     False         3497
                True           153
Moscow          False         3427
                True           223
Mumbai          False         3502
                True           148
New York        False         3424
                True           226
Paris           False         3464
                True           186
Rio de Janeiro  False         3482
                True           168
Singapore       False         3506
                True           144
Sydney          False         3475
                True           175
Tokyo           False         3453
                True           197
Name: count, dtype: int64

In [97]:
import requests

API_KEY = "4c8fa7d9b32c88b547108c4e9e67ed7c"
city = "Moscow"

url = "https://api.openweathermap.org/data/2.5/weather"
params = {
    "q": city,
    "appid": API_KEY,
    "units": "metric"   
}

response = requests.get(url, params=params)
data = response.json()

print(data)
df = pd.DataFrame([{  "city": data['name'], "temperature": data['main']["temp"]}])

display(df)

{'coord': {'lon': 37.6156, 'lat': 55.7522}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': -3.35, 'feels_like': -10.17, 'temp_min': -3.76, 'temp_max': -2.96, 'pressure': 1008, 'humidity': 69, 'sea_level': 1008, 'grnd_level': 988}, 'visibility': 10000, 'wind': {'speed': 6.89, 'deg': 346, 'gust': 12.47}, 'clouds': {'all': 82}, 'dt': 1765562753, 'sys': {'type': 2, 'id': 2094500, 'country': 'RU', 'sunrise': 1765518614, 'sunset': 1765544187}, 'timezone': 10800, 'id': 524901, 'name': 'Moscow', 'cod': 200}

     city  temperature
0  Moscow        -3.35